<% @user.all %>

		<% @user.reverse_each do |u| %>

			<br />

			<%= image_tag u.photo.url(:medium) %>

			<h1><%= u.first_name %> <%= u.last_name %></h1><h5 style="color: #14A085;">Coins Earned: <img src="http://cloud-media.com/wp-content/uploads/2013/12/civly-coin-beta-all-posts-icon.png" /><%= u.user_points_earned %></h5>

			<br />
		<% end %>
		