<% content_for :title do %>Badges<% end %>
<h1>Earn Your Civly Badge of Honor</h1>
	<p>
		<a href="http://www.fundrr.com">Civly.com</a> is a platform for <b>heroes</b> to connect with the <b>citizens</b> and <b>people</b> that they can help.</p>
<br />


<div id="page1" class="container">
    <h2>
      Share Civly Badges or Embed On Your Site
    </h2>
    <div class="row-fluid">
      <div class="span3">

        <span class='st_pinterest_vcount' displayText='Pinterest'></span>
        <span class='st_twitter_vcount' displayText='Tweet'></span>

         <p>
          <img src='http://cloud-media.com/wp-content/uploads/2013/12/civly-we-are-heroes-badge-beta.png' alt='' width='250' border='0' />


        </p>

          <textarea onclick='this.focus();this.select()' style='width:250;height:100px;margin: 5px; padding: 5px;'>
          <p><br /><br /><a href='http://www.civly.com'><img src='http://cloud-media.com/wp-content/uploads/2013/12/civly-we-are-heroes-badge-beta.png' alt='We Are Heroes' width='192px' border='0' /></a></p></textarea>
      </div>

      <div class="span3">
        
        <span class='st_pinterest_vcount' displayText='Pinterest'></span>
        <span class='st_twitter_vcount' displayText='Tweet'></span>


        <p><img src='http://houstongolden.com/wp-content/uploads/2013/12/we-accept-civlycoin-badge-1-.png' alt='We Accept CivlyCoin' width='250px' border='0' /></p>


        <h3></h3><textarea onclick='this.focus();this.select()' style='width:250px;height:100px;margin: 5px; padding: 5px;'><p><a href='http://www.civly.com'><img src='http://houstongolden.com/wp-content/uploads/2013/12/we-accept-civlycoin-badge-1-.png' alt='We Accept CivlyCoin' width='192px' border='0' /></a></p></textarea>
      </div>


      <div class="span3">


        <span class='st_pinterest_vcount' displayText='Pinterest'></span>
        <span class='st_twitter_vcount' displayText='Tweet'></span>
      
        <p><img src='http://cloud-media.com/wp-content/uploads/2013/12/civly-be-a-hero-badge-beta.png' alt='Be A Hero' width='250px' border='0' /></p>


        <textarea onclick='this.focus();this.select()' style='width:250px;height:100px;margin: 5px; padding: 5px;'><p><a href='http://www.civly.com'><img src='http://cloud-media.com/wp-content/uploads/2013/12/civly-be-a-hero-badge-beta.png' alt='Be A Hero' width='192px' border='0' /></a></p></textarea>
      </div>

      <div class="span3">


        <span class='st_pinterest_vcount' displayText='Pinterest'></span>
        <span class='st_twitter_vcount' displayText='Tweet'></span>

        <p><img src='http://houstongolden.com/wp-content/uploads/2013/12/civly-we-accept-civly-coin-badge-beta.png' alt='We Accept CivlyCoin' width='250px' border='0' /></p>


        <textarea onclick='this.focus();this.select()' style='width:250px;height:100px'><p><a href='http://www.civly.com'><img src='http://houstongolden.com/wp-content/uploads/2013/12/civly-we-accept-civly-coin-badge-beta.png' alt='We Accept CivlyCoin' width='192px' border='0' /></a></p></textarea>
      </div>

    </div>
   </div>

<div class="container">
    <h2>
    <a padding="15px;" href="/users/1">Houston Golden</a>'s Civly Activism:
      <%= link_to '(55)', page_path('heroes') %>
      </h2>
        <div class="row-fluid">
          <div class="span4">
            <img class="marketing-img" src="http://icons.iconarchive.com/icons/iconshock/batman/128/Batman-icon.png">
    <h2>Houston Golden is the local BATMAN.</h2>

      </div>
        <div class="span4">
          <img class="marketing-img" src="http://icons.iconarchive.com/icons/simekonelove/modern-web/128/love-icon.png">
          <h2>Hearts: 5</h2>
          Share the Love and Earn Hearts!

      </div>
      <div class="span4">
        <img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/12/civly-coin-small-beta-1.png">
        <h2>Plus +5 Civly Coins</h2>
        <p>The ultimate  <a href="/">civic activism</a> platform for  <%= link_to 'heroes', page_path('heroes')%> now has it's very own <%= link_to 'Currency', page_path('badges')%>, "Civly Coins."</p>
      </div>
    </div>
   </div>


<br />
<br />



