<% content_for :title do %>Badges<% end %>
<h1>Earn Your Civly Badge of Honor</h1>
	<p>
		<a href="http://www.fundrr.com">Civly.com</a> is a platform for <b>heroes</b> to connect with the <b>citizens</b> and <b>people</b> that they can help.</p>
<br />


<div class="container">
    <h2>
    <a padding="15px;" href="/users/1">Houston Golden</a>'s Civly Activism:
  <%= link_to '(55)', page_path('heroes') %>
  </h2>
    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/iconshock/batman/128/Batman-icon.png">
    <h2>Houston Golden is the local BATMAN.</h2>

      </div>
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/simekonelove/modern-web/128/love-icon.png">
        <h2>Hearts: 5</h2>

      </div>
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/martz90/circle-addon1/128/text-plus-icon.png">
        <h2>Plus +5 Civly Points</h2>
        <p>The ultimate  <a href="/">civic activism</a>, platform for  <%= link_to 'heroes', page_path('heroes')%> now has it's very own <%= link_to 'scoreboard', page_path('badges')%>, "Civly Points."</p>
      </div>
    </div>
   </div>


<br />
<br />



