<% content_for :title do %>Heroes<% end %>
<h1>We Are Heroes</h1>
  <p>
    <a href="http://www.fundrr.com">Civly.com</a> is a platform for <b>heroes</b> to connect with the <b>citizens</b> and <b>people</b> that they can help.</p>
<br />


<div class="container">
    <h2>
    <a padding="15px;" href="/users/1">Civly</a> Heroes:
  <%= link_to '(55)', page_path('heroes') %>
  </h2>
    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/iconshock/batman/128/Batman-icon.png">
    <h2>Houston Golden is </h2> <h2 style="color:red;">BATMAN.</h2> 
      </div>
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/deleket/superhero-avatar/128/Avengers-Iron-Man-icon.png">
        <h2>James Kasar is </h2><h2 style="color:red;">IRONMAN.</h2>

      </div>
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/deleket/superhero-avatar/128/Avengers-Hawkeye-icon.png">
        <h2>Hawkins is </h2><h2 style="color:red;">NIGHTHAWK.</h2>
      </div>
    </div>

    </div>




<br />
<br />
<hr />

  <div class="divider"></div>

  <div class="container secondary">
    <ul>
      <li>Made in <a href="http://en.wikipedia.org/wiki/Santa_Monica">Santa Monica, CA</a></li>
      <li>&copy; 2013</li>
    </ul>


  </div>
</div>
<br />