<% content_for :title do %>Heroes<% end %>
<h1>We Are Heroes</h1>
  <p>
    <a href="http://www.fundrr.com">Civly.com</a> is a platform for <b>heroes</b> to connect with the <b>citizens</b> and <b>people</b> that they can help.</p>

<div class="container">
    <h2>
    <a padding="15px;" href="/users/1">Civly</a> Heroes:
  <%= link_to '(55)', page_path('heroes') %>
  </h2>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/iconshock/batman/128/Batman-icon.png">
    <h2>Houston is </h2> <h2 style="color:#14A085;">BATMAN.</h2> 
      </div>
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/deleket/superhero-avatar/128/Avengers-Iron-Man-icon.png">
        <h2>James is </h2><h2 style="color:#14A085;">IRONMAN.</h2>

      </div>
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/deleket/superhero-avatar/128/Avengers-Hawkeye-icon.png">
        <h2>Hawkins is </h2><h2 style="color:#14A085;">NIGHTHAWK.</h2>
      </div>
    </div>

<br />
<br /> 
<br /> 
<br /> 
<br /> 
<br /> 

        <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Civly-Hero-Archer-Gravatar.png">
    <h2>Tim is </h2> <h2 style="color:#14A085;">ARCHER.</h2> 
      </div>
      <div class="span4">
        <img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Civly-Hero-DareDevil-Gravatar.png">
        <h2>James is </h2><h2 style="color:#14A085;">DAREDEVIL.</h2>

      </div>
      <div class="span4">
        <img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Civly-Hero-Hulk-Gravatar.png">
        <h2>Chris is </h2><h2 style="color:#14A085;">HULK.</h2>
      </div>
    </div>

<br /> 
<br /> 
<br /> 
<br /> 
<br /> 


    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Civly-Hero-Captain-America-Gravatar.png">
    <h2>Conner is </h2> <h2 style="color:#14A085;">CAPTAIN AMERICA.</h2> 
      </div>
      <div class="span4">
        <img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Civly-Hero-Girl-Gravatar.png">
        <h2>Audrey is </h2><h2 style="color:#14A085;">Super Woman.</h2>

      </div>
      <div class="span4">
        <img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Civly-Winged-Icon-Logo-Beta.png">
        <h2>Civly is </h2><h2 style="color:#14A085;">AWESOME.</h2>
      </div>
    </div>


</div>




<br />
<br />