<div class="container" style="margin-top: -90px; width: 800px;">

  <table> 
    <tr>
      <td>
        <img alt="civly" src="http://cloud-media.com/wp-content/uploads/2013/10/civly-beta-banner-logo-2013-2.png">
       
        <iframe src="//player.vimeo.com/video/79541124" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p>We Are <a href="http://civly.com">Civly Heroes</a></p>


      </td>

      <br />

      <td>      
         <h2>
          Sign Up
          </h2>
          <p>
            <% if current_user %>
              <%= link_to 'My Profile', current_user %>

              <%= link_to "Log Out", logout_path %>

            <% end %>
          </p>
            <%= render 'users/form' %>
      </td>
    </tr>
  </table>
</div>


    <!-- Footer
    ================================================== -->
  <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-5" style="float:right;">
          <h2 class="featurette-heading">The First Civic Currency</h2>

          <img src="http://cloud-media.com/wp-content/uploads/2013/12/civly-coin-small-beta-1.png" style="width: 100px;">
          <p class="lead"><a href="/">Civly</a> is gameifying civic activism by allowing local businesses to sponsor local heroes who can earn "CivlyCoins" to redeem for real dollars at participating businesses.</p>

        <img class="featurette-image img-responsive" src="http://cloud-media.com/wp-content/uploads/2013/12/civlycoin-banner-beta-1.png" alt="CivlyCoin">
        </div>
        <div class="col-md-7">
        </div>

      </div>


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <div id="page1" class="container">
    <h2>
Share Civly Badges On Your Site
  </h2>
    <div class="row-fluid">
      <div class="span3">
         <p>
          <a href='http://www.civly.com'><img src='http://cloud-media.com/wp-content/uploads/2013/12/civly-we-are-heroes-badge-beta.png' alt='' width='250' border='0' /></a></p>

          <textarea onclick='this.focus();this.select()' style='width:250;height:100px;margin: 5px; padding: 5px;'>
          <p><br /><br /><a href='http://www.civly.com'><img src='http://cloud-media.com/wp-content/uploads/2013/12/civly-we-are-heroes-badge-beta.png' alt='We Are Heroes' width='192px' border='0' /></a></p></textarea>
      </div>

      <div class="span3">

        <p><a href='http://www.civly.com'><img src='http://houstongolden.com/wp-content/uploads/2013/12/we-accept-civlycoin-badge-1-.png' alt='We Accept CivlyCoin' width='250px' border='0' /></a></p>

        <h3></h3><textarea onclick='this.focus();this.select()' style='width:250px;height:100px;margin: 5px; padding: 5px;'><p><a href='http://www.civly.com'><img src='http://houstongolden.com/wp-content/uploads/2013/12/we-accept-civlycoin-badge-1-.png' alt='We Accept CivlyCoin' width='192px' border='0' /></a></p></textarea>
      </div>


      <div class="span3">
      
        <p><a href='http://www.civly.com'><img src='http://cloud-media.com/wp-content/uploads/2013/12/civly-be-a-hero-badge-beta.png' alt='Be A Hero' width='250px' border='0' /></a></p>

        <textarea onclick='this.focus();this.select()' style='width:250px;height:100px;margin: 5px; padding: 5px;'><p><a href='http://www.civly.com'><img src='http://cloud-media.com/wp-content/uploads/2013/12/civly-be-a-hero-badge-beta.png' alt='Be A Hero' width='192px' border='0' /></a></p></textarea>
      </div>

      <div class="span3">

        <p><a href='http://www.civly.com'><img src='http://houstongolden.com/wp-content/uploads/2013/12/civly-we-accept-civly-coin-badge-beta.png' alt='We Accept CivlyCoin' width='250px' border='0' /></a></p>

        <textarea onclick='this.focus();this.select()' style='width:250px;height:100px'><p><a href='http://www.civly.com'><img src='http://houstongolden.com/wp-content/uploads/2013/12/civly-we-accept-civly-coin-badge-beta.png' alt='We Accept CivlyCoin' width='192px' border='0' /></a></p></textarea>
      </div>

    </div>
   </div>

<div id="page1" class="container">
    <h2>
    <a padding="15px;" href="/users/1">Houston Golden</a>'s Civly Activism:
   <%= link_to '(18)', page_path('badges') %>
  </h2>
    <div class="row-fluid">
      <div class="span4">
        <a href="http://houstongolden.com" target="_blank"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/12/civly-coin-beta-1.png"></a>
   <a href="http://houstongolden.com"><h2>CivlyCoin </h2></a>
<h4>The First Civic Currency</h4>
<p><a href="/">Civly</a> is gameifying civic activism by allowing local businesses to sponsor local heroes who can earn "CivlyCoins" to redeem for real dollars at participating businesses.</p>
        
      </div>
      <div class="span4">
        <a href="http://civly.com" target="_blank"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/civly-beta-logo-white-square-2013-2.png"></a>
    <a href="/" target="_blank"><h2>Civly.com</h2></a>   
<p>Civly is a revolutionary civic activism platform that empowers local heroes by connecting them with people and causes they can help and incentivising action through the valuable civic currency, <em>CivlyCoin</em>.</p>

      </div>
      <div class="span4">
        <a href="http://cloud-media.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/CloudMedia-facebook-white-square-beta5-logo1.png" target="_blank"></a>
    <a href="http://cloud-media.com" target="_blank"><h2>CloudMedia</h2></a>
        <p>Built by <a href="http://cloud-media.com/">CloudMedia</a> &  Designed by <a href="http://twitter.com/houstongolden">@houstongolden</a> using <a href="rubyonrails.org">Ruby on Rails</a> and <a href="http://getbootstrap.com">Twitter Bootstrap</a> and is managed through <a href="http://github.com/houstongolden/civly/">GitHub</a> to help geeks do awesome stuff on the web.</p>

        </a></p>
      </div>
    </div>
   </div>


      <div class="row featurette">
        <div class="col-md-7" style="float:right;">
          <h2 class="featurette-heading">“We All Want To Be Heroes.
 <span class="text-muted"><a href="authentications/new">Join Civly Today.”</a></span></h2>
        
        </div>
      </div>

<hr />

<div class="jumbotron masthead">
  <div class="container">
       <a href="https://github.com/houstongolden/civly" target="_blank"><h1>Civly hactivism</h1></a>
    <p>Civly is an open source platform powering civic activism by enabling heroes.</p>
    <ul class="masthead-links">
      <li>
        <a href="https://github.com/houstongolden/civly" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);" target="_blank">GitHub project</a>
      </li>
      <li>
        Version 0.0.2 (beta)
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=civly&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=civly&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
    </ul>
  </div>
</div>



      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>


