<div style="align: center; margin-top: -15px;" class="container">
<h2><a href="http://www.civly.com">Civly.com</a> - A Platform For Heroes</h2> 
        <a href="http://civly.com" target="_blank"><img style="margin-top: -25px;" class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/civly-beta-logo-white-square-2013-2.png"></a>
    <a href="http://civly.com" target="_blank"></a>   
<p>Civly is civic activism platform empowering local heroes by connecting them with the people they can help. </p>


     </div>

    <br />

        <h4>Helping people help people is our mission.</h4>
  <br />
<br />
