<div class="pull-right">
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{report['Latitude']},#{report['Longitude']}&zoom=16&size=400x400&sensor=false&markers=color:red%7Ccolor:red%7Clabel:A%7C#{report['Latitude']},#{report['Longitude']}" %>
</div>

