<footer class="footer">
      <div class="container">
          <hr class="soften">
        
      </div>
  <div class="container secondary">
    <br /><hr />
    <ul>
      <li>Made <a href="http://www.hackforla.org">@HackForLA</a></li>
      <li>&copy; 2013</li>

    </ul>
  </div>

</footer>
